{% extends 'rep_app/lesson_base.html' %}
{% load static %}

{% block title %}lesson 1 ♩{% endblock title %}


{% block content %}

    <section class="page-section community-page set-bg" data-setbg="{% static 'rep_app/images/background_less_1.jpg' %}">
        <div class="community-warp spad" style="background-color: rgba(0, 0, 0, 0.80)">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <img src="{% static 'rep_app/images/numbers/one.png' %}" alt="" class="rounded-circle img_lightning_zaur"
                             width="75">
                    <h1 class="lesson_heading">Урок 1: modern СЛЭНГ.</h1>
                </div>
                <br/>
                <br/>
                <br/>
                <p class="p_style_for_lessons">Йоу, бартаны, че как! Сегодня мы с моими <span>True гэнгста</span> братишками забабахали
                    для вас туториал по <span>Real talk</span>слэнгу, чтобы вы научились понимать язык репа.</p>
                <p class="p_style_for_lessons">Трек без <span>Real гэнгста</span> щит <span>Real talk</span>, это тотал кринж.</p><p class="p_style_for_lessons">
                Эти слова нужно использовать постоянно также как <span>True гэнгста</span> рэперы бахают зелень
                так и вам надо юзать эти слова, <span>ееееее, бой </span> наш <span> Хоуми бой </span> <span>Real talk</span> подготовил
                для вас видик с <span> чиииииииил </span> сленгом, который вы будете использовать в своих <span>True гэнгста</span> треках, потому что
                без них это <span>real total </span> что?...Кончно же кринж.</p>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="row justify-content-center">
                    <iframe width="720" height="405" src="https://www.youtube.com/embed/ztOUVFHSPBQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <br/>
                <br/>
                <br/>
                <p class="p_style_for_lessons"><span>БТВ </span> вы должны знать <span>Real talk cool words:</span></p>
                <p>
                <span>БУ</span> - Так называют девушек типо БУ АХФАХХ НУ ВЫ ПОНЯЛИ
                    <br/></p>
                <p><span>Флоу</span> - модное word из профессионального жаргона рэперов, раунд.
                В переводе с английского языка слово <span>flow</span> означает «поток», поэтому даже русские
                    рэперы стали юзать его для обозначения бесперебойного потока гадостей в микрофон, который доносится со сцены из рэперского рта.</p>

                <p><span>Гэнг</span> - это ваши брО, они ваша <span>Real гэнгста</span> гэнг не забывайте говорить, что она тру гэнг риал</p>
                <p><span>Дурь, трава</span> - ну это типо ваша еда ЕЕЕ бой, ну вы понимаете
                <span>BPM</span> - Цифры скорости вашей тру песни (Обычно используется в Тру Рэп <span>Battlax
                Зелень, бабло, Деньги, Телки, Шкуры, бабы, ну лохи называют это девушками лол типо что</span></p>
                <br/>
                <br/>
                <h2 style="color: white">Йоу, йоу, йоу, пора пройти тест, йоу:</h2>
                <br/>
                <br/>
                <div class="container" style="color: white">
                    <div class="row justify-content-center">
                        <h2 style="color: lawngreen">Вопро1: 2 + 2</h2>
                    </div>
                   <div class="group">
                        <input type="checkbox" id="Answer_1">
                       <label for="Answer_1">Answer 1</label>
                   </div>

                    <div class="group">
                        <input type="checkbox" id="Answer_2">
                       <label for="Answer_2">Answer 2</label>
                   </div>

                    <div class="group">
                        <input type="checkbox" id="Answer_3">
                       <label for="Answer_3">Answer 3</label>
                   </div>

                    <div class="group">
                        <input type="checkbox" id="Answer_4">
                       <label for="Answer_4">Answer 4</label>
                   </div>

                    <div class="group">
                        <input type="checkbox" id="Answer_5">
                       <label for="Answer_5">Answer 5</label>
                   </div>

                    <div class="row justify-content-center" style="margin-top: 50px">
                            <a href="#" class="answer_for_the_test">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Ответить
                            </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock content %}